<!--~~~~~~~~~~~~~~~~~~~~ Footer Snippet ~~~~~~~~~~~~~~~~~~~~-->

<footer>
   <section class="footer-bar clearfix">
    <nav>
        <a href="/collections/women" class="women"><span class="h1">Women</span></a>
        <a href="/collections/baby-loup" class="baby"><span class="h1">Baby Loup</span></a>
        <a href="/collections/little-loup" class="little"><span class="h1">Little Loup</span></a>
        <a href="/collections/home-gifts-fragrance" class="gifts"><span class="h1">Home, Gifts &amp; Fragrance</span></a>
    </nav>
    <ul class="clearfix">
        <li class="clearfix"><a href="/pages/help">Need Help?</a></li>
        <li class="clearfix"><a href="http://blog.leloup.co.uk">Read our Blog</a></li>
        <li class="clearfix"><a href="/pages/about">Visit us</a></li>
    </ul>
   </section>
   <section class="footer-meta">
    <ul>
        <li><a href="/pages/terms">Terms &amp; Conditions</a></li>
        <li><a href="/pages/privacy">Privacy Policy</a></li>
        <li><a href="/pages/help#returns">Returns Policy</a></li>
        <li><a href="/pages/about#findus">Contact Us</a></li>
        <li>&copy; Copyright 2012 Stitch Agencies Ltd. Website by <a href="http://manyhatsdesign.com">Manyhats Design</a>, UK.</li>
    </ul>
   </section>
</footer>