<div class="help-intro">
    <h1>Any Questions?</h1>
    <p>We're keen to ensure that your experience shopping with us is as pleasant and hassle-free as possible so we've included the answers to some of the questions our customers have asked below.</p>
    <h3 id="returns">Shipping &amp; Returns</h3>
    <p>Our shipping rates are shown in the table on the right. Because we know that shopping online isn't quite the same as visiting our shop, if you are anything less than delighted with an item for any reason you can send it back to us within 28 days of receipt for a full refund. All we ask is that items are returned with the original tags attached in an unworn or unused condition. For obvious health reasons, we can't offer a refund for returned underwear or earrings.<p>
</div>
<table class="delivery-table">
    <caption>Delivery Prices</caption>
    <thead>
        <tr>
            <th>Delivery</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <h3>Pick up from Le Loup</h3>
                <p>Pick up from our Eastbourne store</p>
            </td>
            <td>FREE</td>
        </tr>
        <tr>
            <td>
                <h3>UK Standard Delivery (Orders over £60)</h3>
                <p>Should arrive between 5-10 days.</p>
            </td>
            <td>FREE</td>
        </tr>
        <tr>
            <td>
                <h3>UK Standard Delivery</h3>
                <p>Should arrive between 5-10 days.</p>
            </td>
            <td>£3.95</td>
        </tr>
        <tr>
            <td>
                <h3>UK Next Day Delivery</h3>
                <p>Available on orders Mon-Fri before 1pm.</p>
            </td>
            <td>£9.00</td>
        </tr>
        <tr>
            <td>
                <h3>EU Standard Delivery</h3>
                <p>Up to a limit of 2 kilograms (we may contact you for additional postage fees on delivery of heavy or large items).</p>
            </td>
            <td>£9.00</td>
        </tr>
        <tr>
            <td>
                <h3>International Shipping</h3>
                <p>Outside the EU, up to a limit of 2 kilograms (we may contact you for additional postage fees on delivery of heavy or large items).</p>
            </td>
            <td>£12.00</td>
        </tr>
    </tbody>
</table>
<h3>Frequently Asked Questions</h3>
<dl class="accordion">

    <dt><a href="">Is there any more information available on a product?</a></dt>
    <dd>We include as much information as we can about a product on the product page itself. If you require more detailed information about a particular product we will be happy to help. Please click here to send us an email stating the product code and title you would like more information on.</dd>

    <dt><a href="">Are all your products authentic?</a></dt>
    <dd>Le Loup only buys from good quality brands who supply authentic products, you will notice that many of our brands are also fair trade.</dd>

    <dt><a href="">An item I bought is now on sale, can you refund the difference?</a></dt>
    <dd>Unfortunately, we cannot advise you in advance of a reduced product or reimburse you the difference after you have placed an order.</dd>

    <dt><a href="">I've seen a particular item I like, can you get it?</a></dt>
    <dd>
        <p>Please <a href="mailto:info@leloup.co.uk">send us an email</a> including as much information as you can and we will do our best to find that particular item for you.</p>
        <p>For international orders please note: VAT has not been included for Non EU/International orders. The way our system works is you pay the price shown on our website - so if you are within the UK it includes the VAT, but if you are outside the EU it does not have any VAT applied.</p>
        <p>This is the standard practice on the internet and goods sold within the UK.</p>
    </dd>
            
    <dt><a href="">How do I place an order?</a></dt>
    <dd>
        <p>Firstly find the product you would like to purchase by either searching or using the category menu on the left hand side. Then on the product view confirm the colour and any options available (e.g. size) and click "Put in my basket", your browser will refresh and take you to your shopping basket.</p>
        <p>Either checkout from this screen or continue to add more items to your shopping basket by clicking "Continue Shopping". If you decide to continue add any other items you wish to purchase, or if finished click on the basket summary displayed on the top right below the menu. Now follow the checkout by entering your personal details and payment information.</p>
        <p>Once complete you will be issued with an order confirmation and invoice.</p>
    </dd>
            
    <dt><a href="">Can I change or cancel my order?</a></dt>
    <dd>This will depend on the status of your order. Please <a href="mailto:help@leloup.co.uk">send us an email</a> stating your order number and what you would like amended or cancel (Please be aware other colours / sizes are not always available). We'll confirm if the changes can be made and issue a refund where possible.</dd>
            
    <dt><a href="">Is it safe to order online?</a></dt>
    <dd>Le Loup use secure payment systems, and you can be sure that details entered are encrypted in the system. We utilise industry-standard Secure Sockets Layer (SSL) technology to allow for the encryption of potentially sensitive information such as your name, address and other critically sensitive information like your credit card details. Information passed between your computer and our Web site cannot be read in the event someone else intercepts it. This technology includes the following features: Authentication - this assures your browser that your data is being sent to the correct computer server, and that the server is secure Encryption - this encodes the data, so that it cannot be read by anyone other than the secure server. Data Integrity - this checks the data being transferred to ensure it has not been altered.</dd>
            
    <dt><a href="">Do I have to order online?</a></dt>
    <dd>It is easier to place your order through our website, but you do have the option of ordering by telephone if you are a UK resident - 01323 732369. We will only accept telephone orders from UK customers.</dd>
            
    <dt><a href="">I forgot to use my discount code can I add it after placing the order?</a></dt>
    <dd>Unfortunately we are unable to amend your order if a discount code was not originally applied at checkout.</dd>
            
    <dt><a href="">What payment methods do you accept?</a></dt>
    <dd>We accept all major credit/debit cards and PayPal.</dd>
            
    <dt><a href="">Do I send payment before you send the order?</a></dt>
    <dd>Yes, we will not process your order until payment has been received.</dd>
            
    <dt><a href="">What currency do you use?</a></dt>
    <dd>All Payments are taken in UK sterling (GBP). If you are purchasing from outside the UK, the GBP price will be converted to your own currency by your bank/card operator.</dd>
            
    <dt><a href="">What is Verified by Visa and MasterCard SecureCode?</a></dt>
    <dd>Verified by Visa and MasterCard SecureCode are new services that protect your card details with a personal password, designed especially for customers who shop online to give added security. They allow you to create your own password, which only you know, to use every time you shop online using these cards. You need to register you card with a password. You only need to do this once, then whenever you use the card to shop online you will be asked to enter the password when you check out. You may be asked by your bank to register your card after clicking "Submit my Order", and will be directed to your bank's website in order to do so. If you have already registered, you will be prompted to enter your password when placing your order. For more information about these services visit Verified by Visa or MasterCard SecureCode.</dd>
             
    <dt><a href="">Can you deliver anywhere?</a></dt>
    <dd>Please see our delivery &amp; returns page for more information.</dd>

    <dt><a href="">Is it possible to collect my order from your shop?</a></dt>
    <dd>Yes, you can order online and collect from- Le Loup, 3 Grand Hotel buildings, Compton Street, Eastbourne, BN21 4EJ. Please select collect from shop at checkout and we will email you when your order is ready for collection.</dd>
            
    <dt><a href="">How do I return an item for a refund?</a></dt>
    <dd>
        <p>Returning your goods is simple. If you are anything less than delighted with an item for any reason, you can send it back to us within 28 days of receipt. Items are to be returned with original tags attached in an unworn/unused condition. to:</p>   

        <address>
        Le Loup Returns<br>
        3 Grand Hotel Buildings<br>
        Compton Street<br>
        Eastbourne East Sussex<br>
        BN21 4EJ<br>
        </address>
    </dd> 
    <dt><a href="">Do I have to pay for return postage?</a></dt>
    <dd>If you are returning an item, or items, to us for a refund or an exchange then the cost of returning the item to us is your responsibility.</dd>
            
    <dt><a href="">How long will it take for you to refund me?</a></dt>
    <dd>Refunds are usually processed within three to five days after the goods are received back to Le Loup, but may take longer to appear on your account statement. We will email you to confirm a refund has been made.</dd>
            
    <dt><a href="">Why have I not been refunded the whole amount?</a></dt>
    <dd>We will refund the purchase price of the returned goods. However, the delivery charges will not be refunded.</dd>
            
    <dt><a href="">Can underwear or earrings be returned?</a></dt>
    <dd>Underwear and earrings cannot be returned or exchanged for hygienic reasons.</dd>
            
    <dt><a href="">Can sale/discount items be returned?</a></dt>
    <dd>Yes all items can be returned for a refund or exchange aside from underwear and earrings for reasons of hygiene. You will be refunded the price you paid for the item. If you have used a discount code on your order you will be refunded the discounted price.
            
    <dt><a href="">Why does my discount code not work?</a></dt>
    <dd>If your discount code is not working this means it is no longer valid and has expired.</dd>
            
    <dt><a href="">What are your contact details?</a></dt>
    <dd>You can email us at <a href="mailto:info@leloup.co.uk">info@leloup.co.uk</a> or <a href="/pages/about#findus">send us a message</a>. You can find our postal address and phone number in our <a href="/pages/terms">terms &amp; conditions</a>.</dd>
        
    <dt><a href="">Can I contact you by phone?</a></dt>
    <dd>Yes, please feel free to call us if you need any help - our number is +44(0)1323 732369.</dd>
</dl>