// ==========================================================================
// Module: homepage-notice.scss
// ========================================================================== */

.homepage-notice {
	background: teal;

	@media screen and (min-width: 800px) {
		float: left;
		width: 56.8%;
	}
}
