// ==========================================================================
// Module: navigation.scss
// ========================================================================== */

$nav-color: #7F8987;
$hover-color: #D8E5B8;
$hover-text-color: darken(#988475, 5%);
$sub-nav-color: $hover-color;
$sub-nav-text-color: $hover-text-color;

.navigation {
	position: relative;

	li, ul {padding: 0; margin: 0; list-style: none; position: relative;}

	// All anchors within li's plus the .touch-navigation one
	ul > li > a,
	a.touch-navigation {
		display: block;
		width: 100%;
		padding: 0 em(10);
		line-height: lines(1.5);

		text-decoration: none;
		background: $nav-color;
		color: #eee;
		font-weight: light;
		border-top: 1px solid darken($nav-color, 5%);

		&:hover {
			background: darken($hover-color, 5%);
			color: $hover-text-color;
		}
	}

	// Sub li's only
	li li > a {
		padding: 0 em(10) 0 em(30);
		background: $sub-nav-color;
		color: $sub-nav-text-color;
	}

	// Small Screen menu
	> ul {display: none;}


	// Now for larger viewports...

	@media screen and (min-width: 1050px) {

		z-index: 5;

		a.touch-navigation {display: none;}

		> ul {
			display: block;
			text-align: justify;
			background: $nav-color;
			max-height: lines(1.5);

			&:after {
				content: ' ';
				display: inline-block;
    		width: 100%;
			}

			> li {
				display: inline-block;
				position: relative;
				border: none;
				z-index: 0;
				> a {
					text-align: center;
					border-top: none;
				}

				// Display the dropdowns on hover
				> ul {display: none;}

				&:hover > ul {
					display: block;

					li:last-child {border-bottom: 3px solid #EC93BA;}
				}
			}
		}

		// Sub li's only
		li li {
			position: absolute;
			float: left;
			width: em(200);
			z-index: 99;
			top: 0;
			left: 0;
			a {padding: 0 em(5);}
			background: $sub-nav-color;
			color: $sub-nav-text-color;

		}

		// The account link
		li:last-child li {
			left: auto;
			right: 0;
			text-align: right;
			width: em(100);
		}

		// // Add colour to the four main links
		// > ul > li:nth-child(1) > a {border-bottom: 2px solid darken(#D8E5B8, 10%);} // #A6AE92;}
		// > ul > li:nth-child(2) > a {border-bottom: 2px solid darken(#D8E5B8, 10%);} // #3E555F;}
		// > ul > li:nth-child(3) > a {border-bottom: 2px solid darken(#D8E5B8, 10%);} // #E2EECC;}
		// > ul > li:nth-child(4) > a {border-bottom: 2px solid darken(#D8E5B8, 10%);} // #67575B;}
	}
}
